*{
    box-sizing: inherit;
    --bg-grey: rgb(26, 26, 26);
    --fs-heading: 40px;
    --fs-xxl: 32px;
    --fs-xl: 24px;
    --fs-l: 20px;
    --fs-m: 18px;
    --fs-sm: 16px;
    --fs-xs: 14px;
    --yellow-fade: rgba(255, 191, 14, 0.1);
    --blue-fade:rgba(14, 227, 255, 0.1);
    --purple-fade: rgba(255, 14, 223, 0.1);
    --red-fade: rgba(255, 26, 64, 0.1);
    --text-colour: rgb(51, 255, 170);
    --button-fade: rgba(51, 255, 170, .1);
}

html{
    box-sizing: border-box;
    width: 100%;
    min-width: 400px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background: black;
    /* background: linear-gradient(90deg, rgb(0, 0, 0), var(--bg-grey)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;;
    margin: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    counter-reset: section;
}

.social[max-width=400px]{
    display: none;
}

.social {
    height: 100%;
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    .social-list {
        height: auto;
        margin: auto;
        padding: 0;
        
        .social-icon{
            margin: auto;
            padding: 10px;
            background: radial-gradient(circle, rgba(0, 217, 255, 0.377) 5%, rgba(0, 0, 0, 0) 80%);
            height: 40px;
            width: 40px;
            transition: .2s;
        }

        .social-break {
            width: 1px;
            height: 60px;
            background-color: white;
            margin: 5px auto; 
        }
    }
}

.social-icon:hover{
  translate: 0 -5px;
}

.main-container{
     background: 
             radial-gradient(circle at 30% bottom, var(--yellow-fade) , rgba(0, 0, 0, 0) 12%),
             radial-gradient(circle at 50% 95%,var(--blue-fade) , rgba(0, 0, 0, 0) 12%),
             radial-gradient(circle at 70% 100%,var(--purple-fade) , rgba(0, 0, 0, 0) 12%),
             radial-gradient(circle at 30% top, var(--yellow-fade) , rgba(0, 0, 0, 0) 14%),
             radial-gradient(circle at 50% 5%,var(--blue-fade) , rgba(0, 0, 0, 0) 14%),
             radial-gradient(circle at 70% top,var(--purple-fade) , rgba(0, 0, 0, 0) 14%);
}

.section-heading::before{
    counter-increment: section 1;
    content: "0" counter(section) ". ";
    font-size: var(--fs-l);
    color: var(--text-colour);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main{
    width: 60%;

    margin: auto;
}

.content{
    min-height: 90vh;
    padding-top: 20%;
}

.intro-p{
    font-size: var(--fs-sm);
}

.title{
    font-size: var( --fs-heading);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.name{
    width: 320px;
    min-width: 320px;
}

.title::before{
 
    width: 100%;
    height: 1px;
    background-color: white;
    content: "";
    margin-right: 5px;
}
.title::after{

    width: 100%;
    height: 1px;
    background-color: white;
    content: "";
    margin-left:5px;
}

.greet{
    color: var(--text-colour);
    margin-bottom: 0;
}

h2{
    font-size: var(--fs-xxl);
}

h3{
    font-size: var(--fs-m);
}

p{
    font-size: var(--fs-xs);
    width:80%;
    text-align: center;
    margin: 0 auto;
}
.intro{
    padding-top: 30%;
    
}

footer{
    background: none;
    position: relative;
    text-align: center;
}

.tools-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 140px));
    gap: 10px 30px;
    margin: auto;
    max-width: 310px;
    padding: 0;
}

.tools>h3{

    text-align: center;
}

.left{
    text-align: right;
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    backdrop-filter: blur(5px);
}

.resume-button{
    border: solid 2px var(--text-colour);
    border-radius: 5px;
    background: none;
    color: var(--text-colour);
    margin: auto 30px;
    padding: 0.6rem 1em;
    line-height: 1;
}
.resume-button:hover{
    background-color: var(--button-fade);
    cursor: pointer;
}

.header-list{
    width: 600px;
    display: inline;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-link{
    counter-increment: item;
    transition: 0.2s;
}
.header-link:hover{
    translate: 0 5px;
}

.nav-subject::before{
    content: "0" counter(item) ".";
    color: var(--text-colour);
    font-size: var(--fs-xs);
}

.projects>.section-heading{
    text-align: center;
}
.contact>.section-heading{
    text-align: center;
}

.ed-block{
    width: 70%;
    height: 70px;
    border: solid .5px rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.021);
}


@media only screen and (max-width:750px){
    .social{
        display: none;
    }
    .header-link{
        display: none;
    }
    ul.tools-list{
        font-size: 12px;
    }
    .header{
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: end;
        align-items: center;
        backdrop-filter: blur(5px);
    }
}